    html, body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    @keyframes gradient {
      0% {
        background-position: 20% 20%;
      }
      50% {
        background-position: 80% 40%;
      }
      100% {
        background-position: 20% 20%;
      }
    }
           @keyframes gradient_reg {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 20%;
      }
    }
    form {
        max-width: 300px;
        margin: 120px auto;
        padding: 20px;
        position: relative;
        background: linear-gradient(310deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4)) fixed;
        background-size: 200% 100%;
        animation: gradient_reg 4s ease infinite;
        border-radius: 5px;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    form label {
        display: block;
        margin-bottom: 5px;
        color: #f1f1f1;
    }

            input{
                width: 92%;
                background: rgba(255, 255, 255, .1);
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                outline: none;
                color: #f1f1f1;

                border-radius: 3px;

            }
            button{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                background: rgba(255, 255, 255, 0);
                position: relative;
                border: none;
                display: block;
                border-radius: 5px;
                width: 100%;
                transition: 0.2s;
                padding: 10px;
                overflow: hidden;
                font-family: sans-serif;
                cursor: pointer;
            }

            button:hover{
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, .1);
            }

            button::before{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0px;
                height: 2px;
                background-color: #22638b;
                transform: scaleX(0);
                transition: 0.3s;
            }
            button:hover::before{
                transform: scaleX(1);
            }
            button:active{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, .2);
            }
            button:focus{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, .2);
            }
            a{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                background: rgba(255, 255, 255, 0);
                position: relative;
                border: none;display: block;
                width: 100%;
                overflow: hidden;
                transition: 0.2s;
                border-radius: 10px;
                padding: 10px;
                font-family: sans-serif;
                cursor: pointer;
            }

            a:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, .1);
            }

            a:active{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, .2);
            }

            a::before{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0px;
                height: 2px;
                background-color: #22638b;
                transform: scaleX(0);
                transition: 0.3s;
            }
            a:hover::before{
                transform: scaleX(1);
            }
            .gradient-container {
              width: 100%;
                position: fixed;
              height: 100%;
                top:0;
                left:0;
                        background: linear-gradient(45deg, #222, #444);

              background-size: 200% 100%;
              animation: gradient 4s linear infinite;
            }

             @keyframes fade_out {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }

         input::placeholder{
            color: #f9f9f9;
            font-family: sans-serif;
        }


        h1 {
            font-family: sans-serif;
            text-align: center;
        }

        .menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        .menu li {
            position: relative;
            padding: 10px;
            margin-right: 10px;
        }

        .menu li:last-child {
            margin-right: 0;
        }

        .func_create{
            width: 100%;
            height:100%;
            transform: scale(0, 0);
            transition: 0.3s;
            background: rgba(0, 0, 0, .5);
            left: 0;
            border-radius: 50%;
            position: absolute;
            opacity: 0;
            top: -100%
        }

        button {
            outline: none;
        }

        input {
            outline: none;
        }